*{
    font-family: Roboto, Arial, sans-serif;
}
.pokemons-list{
    display: grid;
    grid-template-columns: auto;
    gap: 0.5rem 0.5rem;
    list-style: none;
    padding: 0;
    margin: auto;
}
.pokemon-types{
    list-style: none;
    padding: 1rem;
}
.pokemon-image{
    width: 80px;
    padding-bottom: .8rem;
    padding-right: .8rem;
}
.pokemon{
    border-radius: 1rem;
}
.details{
    display: flex;
    justify-content: space-between;
}
.type{
    padding-right: 1.5rem;
    margin-bottom: 5px;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1.5rem 2rem;
    align-items: center;
    font-size: small;
}
.type-name{
    padding-left: .1rem;
}
.pokemon-area{
    margin: auto;
    max-width: 1200px;
    padding: 0 .5rem;
}
.pokemon-name{
    margin: 0;
    margin-top: .6rem;
    margin-left: .8rem;
    margin-bottom: .2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.btn-load{
    border-radius: 2rem;
    padding: .5rem 1.5rem;
    border: none;
    font-weight: bold;
    background-color: #00FAE7;
    cursor: pointer;
}
.btn-load:hover{
    background-color: #38ffee;
}

@media(min-width: 550px){
    .pokemons-list{
        grid-template-columns: auto auto;
    }
}

@media(min-width: 1000px){
    .pokemons-list{
        grid-template-columns: auto auto auto auto;
    }
}